In [2]:
import pandas as pd
import matplotlib.pyplot as plt

### Reading in the data

In [3]:
OECD_GDP = pd.read_csv('OECD_GDP.csv')
OECD_Trade = pd.read_csv('OECD_Trade.csv')

### Inspecting the data

In [4]:
OECD_GDP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345 entries, 0 to 344
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   LOCATION               345 non-null    object
 1   Country                345 non-null    object
 2   TRANSACT               345 non-null    object
 3   Transaction            345 non-null    object
 4   MEASURE                345 non-null    object
 5   Measure                345 non-null    object
 6   TIME                   345 non-null    int64
 7   Year                   345 non-null    int64
 8   Unit Code              345 non-null    object
 9   Unit                   345 non-null    object
 10  PowerCode Code         345 non-null    int64
 11  PowerCode              345 non-null    object
 12  Reference Period Code  0 non-null      float64
 13  Reference Period       0 non-null      float64
 14  Value                  345 non-null    float64
 15  Flag Codes             23 non-null     object
 16  Flags                  23 non-null     object
dtypes: float64(3), int64(3), object(11)
memory usage: 45.9+ KB

In [5]:
OECD_Trade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29222 entries, 0 to 29221
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   LOCATION               29222 non-null  object
 1   Reporter country       29222 non-null  object
 2   FLOW                   29222 non-null  object
 3   Flow                   29222 non-null  object
 4   PARTNER                29222 non-null  object
 5   Partner country        29222 non-null  object
 6   FREQUENCY              29222 non-null  object
 7   Frequency              29222 non-null  object
 8   TIME                   29222 non-null  int64
 9   Time                   29222 non-null  int64
 10  Unit Code              29222 non-null  object
 11  Unit                   29222 non-null  object
 12  PowerCode Code         29222 non-null  int64
 13  PowerCode              29222 non-null  object
 14  Reference Period Code  0 non-null      float64
 15  Reference Period       0 non-null      float64
 16  Value                  29222 non-null  int64
 17  Flag Codes             0 non-null      float64
 18  Flags                  0 non-null      float64
dtypes: float64(4), int64(4), object(11)
memory usage: 4.2+ MB

In [6]:
OECD_GDP.head()

,LOCATION,Country,TRANSACT,Transaction,MEASURE,Measure,TIME,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,B1_GA,Gross domestic product (output approach),CXC,"Current prices, current exchange rates",2010,2010,USD,US Dollar,6,Millions,NaN,NaN,1.299463e+06,NaN,NaN
1,AUS,Australia,B1_GA,Gross domestic product (output approach),CXC,"Current prices, current exchange rates",2011,2011,USD,US Dollar,6,Millions,NaN,NaN,1.546689e+06,NaN,NaN
2,AUS,Australia,B1_GA,Gross domestic product (output approach),CXC,"Current prices, current exchange rates",2012,2012,USD,US Dollar,6,Millions,NaN,NaN,1.590708e+06,NaN,NaN
3,AUS,Australia,B1_GA,Gross domestic product (output approach),CXC,"Current prices, current exchange rates",2013,2013,USD,US Dollar,6,Millions,NaN,NaN,1.543216e+06,NaN,NaN
4,AUS,Australia,B1_GA,Gross domestic product (output approach),CXC,"Current prices, current exchange rates",2014,2014,USD,US Dollar,6,Millions,NaN,NaN,1.464256e+06,NaN,NaN

In [7]:
OECD_Trade.head()

,LOCATION,Reporter country,FLOW,Flow,PARTNER,Partner country,FREQUENCY,Frequency,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,EXP,Exports,AUT,Austria,A,Annual,2011,2011,USD,US Dollar,0,Units,NaN,NaN,73144918,NaN,NaN
1,AUS,Australia,EXP,Exports,AUT,Austria,A,Annual,2012,2012,USD,US Dollar,0,Units,NaN,NaN,71483059,NaN,NaN
2,AUS,Australia,EXP,Exports,AUT,Austria,A,Annual,2013,2013,USD,US Dollar,0,Units,NaN,NaN,67897422,NaN,NaN
3,AUS,Australia,EXP,Exports,AUT,Austria,A,Annual,2014,2014,USD,US Dollar,0,Units,NaN,NaN,61114752,NaN,NaN
4,AUS,Australia,EXP,Exports,AUT,Austria,A,Annual,2015,2015,USD,US Dollar,0,Units,NaN,NaN,54730242,NaN,NaN

In [8]:
OECD_Trade["Value"][0]

73144918

In [9]:
OECD_GDP["Value"][0]

1299463.0764

In [10]:
OECD_Trade["Flow"].unique()

array(['Exports', 'Imports'], dtype=object)

In [11]:
OECD_GDP["Transaction"].unique()

array(['Gross domestic product (output approach)'], dtype=object)